<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgut.collegemarket"
    android:versionCode="1"
    android:versionName="1.0.0">

    <permission
        android:name="com.dgut.collegemarket.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- ⽤用于开启 debug 版本的应⽤用在6.0 系统上 层叠窗⼝口权限 -->
    <uses-permission android:name="com.dgut.collegemarket.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/collegemarket"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/collegemarket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //请地表最强战队成员规范化排序，谢谢！
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        //请地表最强战队成员规范化排序，谢谢！
        <activity android:name=".activity.goods.GoodsAddActivity" />
        <activity android:name=".activity.goods.GoodsContentActivity" />
        //请地表最强战队成员规范化排序，谢谢！
        <activity android:name=".activity.posts.PostContentActivity" />
        <activity android:name=".activity.posts.CommentActivity" />
        <activity android:name=".activity.posts.PostCommentActivity" />
        <activity android:name=".activity.posts.PostAddActivity" />
        //请地表最强战队成员规范化排序，谢谢！
        <activity android:name=".activity.orders.OrdresCreateActivity" />
        <activity android:name=".activity.orders.OrdersCommentActivity" />
        <activity android:name=".activity.orders.OrderCommentListActivity" />
        //请地表最强战队成员规范化排序，谢谢！.activity.common.目前：3个
        <activity android:name=".activity.common.SendMessageActivity" />
        <activity android:name=".activity.common.ContactListActivity" />
        <activity android:name=".activity.common.ContactAddActivity" />
        //请地表最强战队成员规范化排序，谢谢！.activity.myprofile.userInfo.目前：7个
        <activity android:name=".activity.myprofile.userInfo.UpdatePasswordActivity" />
        <activity android:name=".activity.myprofile.userInfo.ForgetPasswordStep1Activity" />
        <activity android:name=".activity.myprofile.userInfo.ForgetPasswordStep2Activity" />
        <activity android:name=".activity.myprofile.userInfo.UserInfoActivity" />
        <activity android:name=".activity.myprofile.userInfo.SignInActivity" />
        <activity android:name=".activity.myprofile.userInfo.UpdateAvatarActivity" />
        <activity android:name=".activity.myprofile.userInfo.UpdateUserNameActivity" />
        //请地表最强战队成员规范化排序，谢谢！.activity.myprofile.目前：12个
        <activity android:name=".activity.myprofile.AboutCollegeMarketActivity" />
        <activity android:name=".activity.myprofile.AboutVersionActivity" />
        <activity android:name=".activity.myprofile.RechargeActivity" />
        <activity android:name=".activity.myprofile.SearchActivity" />
        <activity android:name=".activity.myprofile.ContentSearchActivity" />
        <activity android:name=".activity.myprofile.ContentConsumptionActivity" />
        <activity android:name=".activity.myprofile.ContentFansActivity" />
        <activity android:name=".activity.myprofile.ContentIdolsActivity" />
        <activity android:name=".activity.myprofile.ContentDirectMessagesActivity" />
        <activity android:name=".activity.myprofile.CheckConsumptionRecordsActivity" />
        <activity android:name=".activity.myprofile.CheckDirectMessagesActivity" />
        <activity android:name=".activity.myprofile.CheckIdolsAndFansRecordsActivity" />
        //请地表最强战队成员规范化排序，谢谢！
        <activity android:name=".activity.orders.NoteEditActivity" />
        <activity
            android:name=".activity.orders.OrdersContentActivity"
            android:launchMode="singleTask"></activity>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.dgut.collegemarket" />
            </intent-filter>
        </receiver>
        //以下是极光IM
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.dgut.collegemarket" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="com.dgut.collegemarket" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.dgut.collegemarket" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.dgut.collegemarket" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e0f4658886b76760f365ccf7" />

        <activity android:name="im.sdk.debug.activity.setting.SettingMainActivity" />
        <activity android:name="im.sdk.debug.activity.TypeActivity" />
        <activity android:name="im.sdk.debug.activity.setting.InfoActivity" />
        <activity android:name="im.sdk.debug.activity.setting.AssertEqualsActivity" />
        <activity android:name="im.sdk.debug.activity.setting.UpdatePassword" />
        <activity android:name="im.sdk.debug.activity.setting.UpdateUserInfoActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateMessageActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateSigTextMessageActivity" />
        <activity android:name="im.sdk.debug.activity.imagecontent.ImageContentActivity" />
        <activity android:name="im.sdk.debug.activity.conversation.ConversationActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateSigCustomMsgActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateSigImageMessageActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.ShowMessageActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateSigVoiceMsgActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.ShowCustomMessageActivity" />
        <activity android:name="im.sdk.debug.activity.notify.NotifyTypeActivity" />
        <activity android:name="im.sdk.debug.activity.setting.UpdateUserAvatar" />
        <activity android:name="im.sdk.debug.activity.imagecontent.CreateImageContentAsyncFile" />
        <activity android:name="im.sdk.debug.activity.imagecontent.ShowDownloadPathActivity" />
        <activity android:name="im.sdk.debug.activity.imagecontent.CreateImageContentAsyncBitmap" />
        <activity android:name="im.sdk.debug.activity.messagecontent.SetGetStringExtraActivity" />
        <activity android:name="im.sdk.debug.activity.messagecontent.SetGetNumberExtraActivity" />
        <activity android:name="im.sdk.debug.activity.messagecontent.SetGetBooleanExtraActivity" />
        <activity android:name="im.sdk.debug.activity.messagecontent.SetGetExtraActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.ShowDownloadVoiceInfoActivity" />
        <activity android:name="im.sdk.debug.activity.conversation.GetConversationInfoActivity" />
        <activity android:name="im.sdk.debug.activity.conversation.OrderMessageActivity" />
        <activity android:name="im.sdk.debug.activity.conversation.IsShowNotifySigActivity" />
        <activity android:name="im.sdk.debug.activity.conversation.DeleteConversationActivity" />
        <activity android:name="im.sdk.debug.activity.setting.ShowLogoutReasonActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateSendFileActivity" />
        <activity android:name="im.sdk.debug.activity.createmessage.CreateLocationMessageActivity" />
        <activity android:name=".activity.posts.RegistActivity"></activity>
    </application>

</manifest>