<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgut.collegemarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/collegemarket"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/collegemarket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CheckConsumptionRecordsActivity" />
        <activity android:name=".activity.CheckIdolsAndFansRecordsActivity" />
        <activity android:name=".activity.CheckDirectMessagesActivity" />
        <activity android:name=".activity.common.SendMessageActivity" />
        <activity android:name=".activity.goods.GoodsAddActivity" />
        <activity android:name=".activity.myprofile.ContentConsumptionActivity" />
        <activity android:name=".activity.myprofile.userInfo.UserInfoActivity" />
        <activity android:name=".activity.posts.PostAddActivity" />
        <activity android:name=".activity.myprofile.RechargeActivity" />
        <activity android:name=".activity.myprofile.SearchActivity" />
        <activity android:name=".activity.myprofile.ContentSearchActivity" />
        <activity android:name=".activity.goods.GoodsContentActivity" />
        <activity android:name=".activity.posts.PostContentActivity" />
        <activity android:name=".activity.posts.CommentActivity" />
        <activity android:name=".activity.posts.PostCommentActivity" />
        <activity android:name=".activity.myprofile.AboutCollegeMarketActivity" />
        <activity android:name=".activity.myprofile.AboutVersionActivity" />
        <activity android:name=".activity.myprofile.userInfo.UpdatePasswordActivity" />
        <activity android:name=".activity.myprofile.userInfo.ForgetPasswordActivity" />
        <activity android:name=".activity.myprofile.ContentIdolsActivity" />
        <activity android:name=".activity.myprofile.ContentFansActivity"></activity>
    </application>

</manifest>